body {
    position: relative;
    background: url("../assets/images/SigninBack.gif") no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.container-fluid {
    position: relative;
    z-index: 1;
}

.content-container {
    margin-left: -50%; /* Adjust this value to move content more or less to the left */
    max-width: 750px; /* Optional: limit the maximum width */
}